In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
cars_data = pd.read_csv('car_price_dataset.csv')

In [4]:
#see the data top 5 rows
cars_data.head()

,Unnamed: 0,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,No Leasing,USED,Available,Available,Available,Available,100.0
1,1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,No Leasing,USED,Available,Available,Available,Available,97.0
2,2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,No Leasing,USED,Available,Available,Available,Available,98.5
3,3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,107.0
4,4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,99.5

In [5]:
cars_data.shape

(9788, 17)

In [ ]:
#Preprocessing

In [ ]:
#Null Check

In [6]:
cars_data.isnull().sum()

Unnamed: 0        0
Brand             0
Model             0
YOM               0
Engine (cc)       0
Gear              0
Fuel Type         0
Millage(KM)       0
Town              0
Date              0
Leasing           0
Condition         0
AIR CONDITION     0
POWER STEERING    0
POWER MIRROR      0
POWER WINDOW      0
Price             0
dtype: int64

In [ ]:
#duplicate check

In [7]:
cars_data.duplicated().sum()

np.int64(0)

In [8]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9788 non-null   int64
 1   Brand           9788 non-null   object
 2   Model           9788 non-null   object
 3   YOM             9788 non-null   int64
 4   Engine (cc)     9788 non-null   float64
 5   Gear            9788 non-null   object
 6   Fuel Type       9788 non-null   object
 7   Millage(KM)     9788 non-null   float64
 8   Town            9788 non-null   object
 9   Date            9788 non-null   object
 10  Leasing         9788 non-null   object
 11  Condition       9788 non-null   object
 12  AIR CONDITION   9788 non-null   object
 13  POWER STEERING  9788 non-null   object
 14  POWER MIRROR    9788 non-null   object
 15  POWER WINDOW    9788 non-null   object
 16  Price           9788 non-null   float64
dtypes: float64(3), int64(2), object(12)
memory usage: 841.2+ KB

In [ ]:
#data analysis

In [9]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print("=======================")

Unique values of Unnamed: 0
[   0    1    2 ... 9786 9787 9788]
=======================
Unique values of Brand
['AUDI' 'AUSTIN' 'BAJAJ' 'BMW' 'BYD' 'CHERY' 'CHEVROLET' 'CITROEN'
 'DAEWOO' 'DAIHATSU' 'DATSUN' 'FIAT' 'FORD' 'FOTON' 'HONDA' 'HYUNDAI'
 'ISUZU' 'JAC' 'JAGUAR' 'JEEP' 'JONWAY' 'KIA' 'LAND-ROVER' 'LEXUS'
 'MAHINDRA' 'MAZDA' 'MERCEDES-BENZ' 'MG' 'MICRO' 'MINI' 'MITSUBISHI'
 'MORRIS' 'NISSAN' 'OPEL' 'OTHER' 'PERODUA' 'PEUGEOT' 'PROTON' 'RENAULT'
 'SEAT' 'SKODA' 'SUBARU' 'SUZUKI' 'TATA' 'TESLA' 'TOYOTA' 'VOLKSWAGEN'
 'VOLVO' 'WILLYS' 'ZOTYE']
=======================
Unique values of Model
['A1' 'A1 RS' 'A3' ... 'CJ7' 'Z100' 'ZOTYE']
=======================
Unique values of YOM
[2016 2017 2018 2015 2001 2010 2019 2011 2012 1999 2003 2014 2013 2004
 2024 1960 1998 1980 1969 1997 1995 1970 1961 1990 2000 2007 2006 2005
 1974 1988 1993 1991 2002 2020 2009 2008 1996 1987 1994 1986 1989 1985
 1982 1972 1979 1977 1992 1984 2021 1962 2022 1978 1975 2023 1967 1965
 1968 1983 1981 1959 1976 1956]
=======================
Unique values of Engine (cc)
[ 990.  1000.  1500.  1750.   999.  1899.  1900.  1800.  1400.  2000.
 1600.  3000.  1300.  1275.  1499.  1990.  1997.  1995.  2200.  1590.
 1796.  2500.  1980.   650.  2990.  4400.  1200.   800.   812.   798.
  670.   833.   900.  1100.  1320.  1330.  1319.  1198.  1234.  2198.
 1568.  1113.  1290.   660.   850.   825.   847.   890.   680.  1170.
 1171.   799.   813.  1366.  1240.  1299.  2139.  1598.  1490.  2400.
 1498.  1322.  1495.  1450.  1799.  1350.  1339.  1422.  1470.  1390.
 1328.  1360.  1496.  1399.  1550.  1493.  1893.  1488.  2003.  1333.
  690.   658.  1714.  1341.  1562.  1395.  1599.  1790.   814.   815.
 1197.  2180.  1566.  1086.  1970.  1999.  2100.  1794.  1533.  1480.
 2190.  2800.  1950.  1998.   998.   946.  1343.  2468.  1080.  1542.
 1324.  1274.  1340.  1680.  1373.  1597.  1608.  1650.  1587.  1497.
 2144.  1332.  2150.  2596.  1979.  3200.  3750.  3500.  1987.  1988.
 2600.  1584.  1580.   997.  1143.  1342.  1278.  1075.   970.  2680.
 2476.  1460.  1879.  2470.  1410.  1822.  1298.  1250.  1456.  1300.8
 1780.  1270.  1190.  1700.  1830.  1760.  1890.  1843.  1989.  1973.
 2350.  2340.  2300.  1534.  1295.  1707.   980.   993.  1740.  1115.
 1016.  1719.  1785.  1527.  1850.  1428.  1397.  1611.  2184.  1388.
  989.  2950.  1411.  1468.   880.  2016.   796.   790.  1060.  1111.
  698.   640.   860.   669.   600.   746.   964.  1097.  1008.   996.
  984.   695.  1329.   795.   909.   630.   718.  1242.   768.  1061.
  659.   700.  1063.  1005.   657.   651.   665.   620.   750.  1193.
 1396.  1405.  1180.  1398.  2448.   624.   625.   626.   629.   610.
  645.   634.   573.  1536.  1870.  1512.  1483.  1820.  1660.  1842.
 1297.  2362.  2360.  1920.  1974.  1618.  1735.  1667.  1809.  1280.
 1975.  1930.  1679.  1773.  1589.  1960.  1032.  1420.  1720.  1452.
 1898.  1347.  2970.  2480.  2164.  1362.  4800.  1514.  1716.  1789.
 1283.  1077.  1015.  1276.  1896.  2770.  1948.  1798. ]
=======================
Unique values of Gear
['Automatic' 'Manual']
=======================
Unique values of Fuel Type
['Petrol' 'Diesel' 'Hybrid' 'Electric']
=======================
Unique values of Millage(KM)
[ 99000.  88000.  77000. 110000. 264000. 165000.  66000. 154000. 143000.
 286000. 242000. 121000. 132000. 231000.  11000. 715000. 297000. 495000.
 616000. 308000. 330000. 605000. 704000. 385000. 275000. 198000. 209000.
 220000. 561000. 407000. 352000. 374000. 253000.  55000. 176000. 187000.
 319000. 418000. 341000. 429000. 396000. 440000. 473000. 583000. 506000.
 528000. 363000. 451000.  44000. 693000.  33000. 517000. 550000.  22000.
 638000. 660000. 627000. 462000. 484000. 726000. 539000. 759000.]
=======================
Unique values of Town
['Gampaha' 'Colombo' 'Dehiwala-Mount-Lavinia' 'Negombo' 'Matara'
 'Nugegoda' 'Anuradapura' 'Kandy' 'Ambalangoda' 'Battaramulla'
 'Nittambuwa' 'Piliyandala' 'Kotte' 'Kandana' 'Moratuwa' 'Wattala'
 'Kiribathgoda' 'Kegalle' 'Homagama' 'Weligama' 'Galle' 'Ratnapura'
 'Hambantota' 'Maharagama' 'Gampola' 'Kuliyapitiya' 'Minuwangoda'
 'Kadawatha' 'Horana' 'Mawanella' 'Kaduwela' 'Kurunegala' 'Nuwara-Eliya'
 'Mullaitivu' 'Kottawa' 'Kesbewa' 'Boralesgamuwa' 'Kelaniya' 'Ja-Ela'
 'Wennappuwa' 'Malabe' 'Dankotuwa' 'Welisara' 'Panadura' 'Matale'
 'Polonnaruwa' 'Chilaw' 'Kalutara' 'Badulla' 'Ampara' 'Dompe' 'Hatton'
 'Mirigama' 'Bandarawela' 'Beruwala' 'Warakapola' 'Hanwella' 'Padukka'
 'Balangoda' 'Matugama' 'Ragama' 'Pannala' 'Avissawella' 'Rajagiriya'
 'Divulapitiya' 'Embilipitiya' 'Elpitiya' 'Pannipitiya' 'Kalawana'
 'Dambulla' 'Kolonnawa' 'Hikkaduwa' 'Welimada' 'Veyangoda' 'Puttalam'
 'Katunayake' 'Middeniya' 'Polgahawela' 'Mahiyanganaya' 'Nattandiya'
 'Peliyagoda' 'Marawila' 'Moneragala' 'Mulleriyawa' 'Trincomalee' 'Mannar'
 'Bandaragama' 'Kotikawatta' 'Hendala' 'Bentota' 'Nawalapitiya' 'Jaffna'
 'Tangalle' 'Batticaloa' 'Kalmunai' 'Nawala' 'Eheliyagoda' 'Ganemulla'
 'Kadugannawa' 'Haputale' 'Wattegama' 'Kilinochchi' 'Harispattuwa'
 'Vavuniya' 'Kattankudy' 'Chavakacheri' 'Koggala']
=======================
Unique values of Date
['2025-02-05' '2025-01-14' '2025-01-23' '2024-12-21' '2024-12-16'
 '2024-12-11' '2025-01-19' '2025-01-31' '2025-01-20' '2024-12-13'
 '2024-12-24' '2025-02-01' '2025-01-03' '2025-01-16' '2024-12-10'
 '2024-12-09' '2025-02-04' '2025-02-03' '2025-01-29' '2025-01-18'
 '2025-01-15' '2025-01-09' '2025-01-06' '2025-01-27' '2025-01-21'
 '2024-12-28' '2024-12-26' '2024-12-22' '2024-12-15' '2025-01-25'
 '2025-01-30' '2025-01-10' '2025-01-05' '2024-12-31' '2024-12-27'
 '2025-01-12' '2025-01-24' '2024-12-08' '2024-12-29' '2025-01-04'
 '2024-12-23' '2024-12-04' '2025-02-02' '2024-12-14' '2025-01-26'
 '2024-12-19' '2025-01-28' '2024-12-25' '2024-12-18' '2025-01-17'
 '2024-12-07' '2024-12-17' '2024-12-05' '2024-12-20' '2025-01-07'
 '2025-01-22' '2025-01-11' '2025-01-02' '2025-01-01' '2025-01-08'
 '2024-12-30' '2025-01-13' '2024-12-12' '2024-12-06' '2024-12-03']
=======================
Unique values of Leasing
['No Leasing' 'Ongoing Lease']
=======================
Unique values of Condition
['USED' 'NEW']
=======================
Unique values of AIR CONDITION
['Available' 'Not_Available']
=======================
Unique values of POWER STEERING
['Available' 'Not_Available']
=======================
Unique values of POWER MIRROR
['Available' 'Not_Available']
=======================
Unique values of POWER WINDOW
['Available' 'Not_Available']
=======================
Unique values of Price
[100.      97.      98.5    ...  56.125   22.8125  25.86  ]
=======================

In [11]:
cars_data['Brand'].unique()

array(['AUDI', 'AUSTIN', 'BAJAJ', 'BMW', 'BYD', 'CHERY', 'CHEVROLET',
       'CITROEN', 'DAEWOO', 'DAIHATSU', 'DATSUN', 'FIAT', 'FORD', 'FOTON',
       'HONDA', 'HYUNDAI', 'ISUZU', 'JAC', 'JAGUAR', 'JEEP', 'JONWAY',
       'KIA', 'LAND-ROVER', 'LEXUS', 'MAHINDRA', 'MAZDA', 'MERCEDES-BENZ',
       'MG', 'MICRO', 'MINI', 'MITSUBISHI', 'MORRIS', 'NISSAN', 'OPEL',
       'OTHER', 'PERODUA', 'PEUGEOT', 'PROTON', 'RENAULT', 'SEAT',
       'SKODA', 'SUBARU', 'SUZUKI', 'TATA', 'TESLA', 'TOYOTA',
       'VOLKSWAGEN', 'VOLVO', 'WILLYS', 'ZOTYE'], dtype=object)

In [12]:
cars_data

,Unnamed: 0,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,No Leasing,USED,Available,Available,Available,Available,100.00
1,1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,No Leasing,USED,Available,Available,Available,Available,97.00
2,2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,No Leasing,USED,Available,Available,Available,Available,98.50
3,3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,107.00
4,4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,99.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9783,9784,ZOTYE,Z100,2018,1000.0,Manual,Petrol,77000.0,Dambulla,2024-12-16,No Leasing,USED,Available,Available,Available,Available,27.50
9784,9785,ZOTYE,Z100,2019,998.0,Manual,Petrol,66000.0,Nittambuwa,2024-12-12,No Leasing,USED,Available,Available,Available,Available,29.00
9785,9786,ZOTYE,Z100,2017,1000.0,Manual,Petrol,88000.0,Anuradapura,2024-12-04,No Leasing,USED,Available,Available,Available,Available,27.50
9786,9787,ZOTYE,ZOTYE,2017,1300.0,Manual,Petrol,88000.0,Gampaha,2025-01-13,No Leasing,USED,Available,Available,Not_Available,Available,8.75
9787,9788,ZOTYE,ZOTYE,1999,1900.0,Automatic,Petrol,286000.0,Kurunegala,2025-01-19,No Leasing,USED,Available,Available,Available,Available,15.50

In [14]:
cars_data['Brand'].unique()

array(['AUDI', 'AUSTIN', 'BAJAJ', 'BMW', 'BYD', 'CHERY', 'CHEVROLET',
       'CITROEN', 'DAEWOO', 'DAIHATSU', 'DATSUN', 'FIAT', 'FORD', 'FOTON',
       'HONDA', 'HYUNDAI', 'ISUZU', 'JAC', 'JAGUAR', 'JEEP', 'JONWAY',
       'KIA', 'LAND-ROVER', 'LEXUS', 'MAHINDRA', 'MAZDA', 'MERCEDES-BENZ',
       'MG', 'MICRO', 'MINI', 'MITSUBISHI', 'MORRIS', 'NISSAN', 'OPEL',
       'OTHER', 'PERODUA', 'PEUGEOT', 'PROTON', 'RENAULT', 'SEAT',
       'SKODA', 'SUBARU', 'SUZUKI', 'TATA', 'TESLA', 'TOYOTA',
       'VOLKSWAGEN', 'VOLVO', 'WILLYS', 'ZOTYE'], dtype=object)

In [15]:
cars_data['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Hybrid', 'Electric'], dtype=object)

In [30]:
cars_data['Fuel Type'] = cars_data['Fuel Type'].replace(
    ['Petrol', 'Diesel', 'Hybrid', 'Electric'], 
    [1, 2, 3, 4]
)

In [37]:
cars_data['Fuel Type'].unique()

array([1, 2, 3, 4], dtype=int64)

In [40]:
# Reload the dataset from the original CSV
cars_data = pd.read_csv('car_price_dataset.csv') # Replace with your actual file path

In [53]:
print(cars_data['Gear'].unique())

[1 0]

In [55]:
cars_data['Gear'] = cars_data['Gear'].replace(
    ['Automatic', 'Manual'],  # ✅ Comma between items
    [1,2]
)

In [56]:
print(cars_data['Gear'].unique())

[1 0]

In [47]:
print(cars_data['Leasing'].unique())

['No Leasing' 'Ongoing Lease']

In [51]:
cars_data['Leasing'] = cars_data['Leasing'].replace(
    ['No Leasing', 'Ongoing Lease'], 
    [1, 2]
)

In [52]:
print(cars_data['Leasing'].unique())

[1 2]

In [57]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9788 non-null   int64
 1   Brand           9788 non-null   object
 2   Model           9788 non-null   object
 3   YOM             9788 non-null   int64
 4   Engine (cc)     9788 non-null   float64
 5   Gear            9788 non-null   int64
 6   Fuel Type       9788 non-null   object
 7   Millage(KM)     9788 non-null   float64
 8   Town            9788 non-null   object
 9   Date            9788 non-null   object
 10  Leasing         9788 non-null   int64
 11  Condition       9788 non-null   object
 12  AIR CONDITION   9788 non-null   object
 13  POWER STEERING  9788 non-null   object
 14  POWER MIRROR    9788 non-null   object
 15  POWER WINDOW    9788 non-null   object
 16  Price           9788 non-null   float64
dtypes: float64(3), int64(4), object(10)
memory usage: 917.7+ KB

In [58]:
print(cars_data['Condition'].unique())

['USED' 'NEW']

In [59]:
cars_data['Condition'] = cars_data['Condition'].replace(
    ['USED', 'NEW'], 
    [1, 2]
)

<ipython-input-59-94d6ed69c82c>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Condition'] = cars_data['Condition'].replace(

In [60]:
print(cars_data['Condition'].unique())

[1 2]

In [61]:
print(cars_data['AIR CONDITION'].unique())

['Available' 'Not_Available']

In [63]:
cars_data['AIR CONDITION'] = cars_data['AIR CONDITION'].replace(
    ['Available', 'Not_Available'], 
    [1, 2]
)

<ipython-input-63-0e9a8dd88ce8>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['AIR CONDITION'] = cars_data['AIR CONDITION'].replace(

In [64]:
print(cars_data['AIR CONDITION'].unique())

[1 2]

In [65]:
print(cars_data['POWER STEERING'].unique())

['Available' 'Not_Available']

In [66]:
cars_data['POWER STEERING'] = cars_data['POWER STEERING'].replace(
    ['Available', 'Not_Available'], 
    [1, 2]
)

<ipython-input-66-d21e928e13fa>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['POWER STEERING'] = cars_data['POWER STEERING'].replace(

In [67]:
print(cars_data['POWER STEERING'].unique())

[1 2]

In [68]:
print(cars_data['POWER MIRROR'].unique())

['Available' 'Not_Available']

In [69]:
print(cars_data['POWER WINDOW'].unique())

['Available' 'Not_Available']

In [70]:
cars_data['POWER WINDOW'] = cars_data['POWER WINDOW'].replace(
    ['Available', 'Not_Available'], 
    [1, 2]
)

<ipython-input-70-d12916293f2f>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['POWER WINDOW'] = cars_data['POWER WINDOW'].replace(

In [71]:
cars_data['POWER MIRROR'] = cars_data['POWER MIRROR'].replace(
    ['Available', 'Not_Available'], 
    [1, 2]
)

<ipython-input-71-fbd920bc2eba>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['POWER MIRROR'] = cars_data['POWER MIRROR'].replace(

In [72]:
print(cars_data['POWER MIRROR'].unique())

[1 2]

In [73]:
print(cars_data['POWER WINDOW'].unique())

[1 2]

In [74]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9788 non-null   int64
 1   Brand           9788 non-null   object
 2   Model           9788 non-null   object
 3   YOM             9788 non-null   int64
 4   Engine (cc)     9788 non-null   float64
 5   Gear            9788 non-null   int64
 6   Fuel Type       9788 non-null   object
 7   Millage(KM)     9788 non-null   float64
 8   Town            9788 non-null   object
 9   Date            9788 non-null   object
 10  Leasing         9788 non-null   int64
 11  Condition       9788 non-null   int64
 12  AIR CONDITION   9788 non-null   int64
 13  POWER STEERING  9788 non-null   int64
 14  POWER MIRROR    9788 non-null   int64
 15  POWER WINDOW    9788 non-null   int64
 16  Price           9788 non-null   float64
dtypes: float64(3), int64(9), object(5)
memory usage: 1.1+ MB

In [75]:
print(cars_data['Fuel Type'].unique())

['Petrol' 'Diesel' 'Hybrid' 'Electric']

In [76]:
cars_data['Fuel Type'] = cars_data['Fuel Type'].replace(
    ['Petrol', 'Diesel', 'Hybrid', 'Electric'], 
    [1, 2,3,4]
)

<ipython-input-76-baa899d44ead>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Fuel Type'] = cars_data['Fuel Type'].replace(

In [77]:
print(cars_data['Fuel Type'].unique())

[1 2 3 4]

In [78]:
cars_data['Model'].nunique()

1555

In [79]:
unique_brands = cars_data['Brand'].nunique()
print(f"Number of unique brands: {unique_brands}")

unique_models = cars_data['Model'].nunique()
print(f"Number of unique models: {unique_models}")

unique_towns = cars_data['Town'].nunique()
print(f"Number of unique towns: {unique_towns}")

Number of unique brands: 50
Number of unique models: 1555
Number of unique towns: 107

In [80]:
from sklearn.preprocessing import LabelEncoder

le_brand = LabelEncoder()
cars_data['Brand'] = le_brand.fit_transform(cars_data['Brand'])

le_model = LabelEncoder()
cars_data['Model'] = le_model.fit_transform(cars_data['Model'])

le_town = LabelEncoder()
cars_data['Town'] = le_town.fit_transform(cars_data['Town'])

In [81]:
unique_brands = cars_data['Brand'].nunique()
print(f"Number of unique brands: {unique_brands}")

unique_models = cars_data['Model'].nunique()
print(f"Number of unique models: {unique_models}")

unique_towns = cars_data['Town'].nunique()
print(f"Number of unique towns: {unique_towns}")

Number of unique brands: 50
Number of unique models: 1555
Number of unique towns: 107

In [82]:
print(cars_data['Brand'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]

In [83]:
print(cars_data['Model'].unique())

[  86   87   88 ...  464 1550 1554]

In [84]:
print(cars_data['Town'].unique())

[ 25  15  18  80  67  82   2  46   0   8  81  89  58  45  74 101  53  49
  35 103  24  95  28  61  26  59  71  39  36  69  41  60  83  75  57  51
  12  50  37 106  63  17 105  85  66  91  14  44   4   1  20  32  72   7
  11 100  29  84   5  68  93  86   3  94  19  23  22  87  42  16  55  34
 104  99  92  48  70  90  62  77  88  65  73  76  97  64   6  56  33  10
  79  38  96   9  43  78  21  27  40  30 102  52  31  98  47  13  54]

In [85]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9788 non-null   int64
 1   Brand           9788 non-null   int32
 2   Model           9788 non-null   int32
 3   YOM             9788 non-null   int64
 4   Engine (cc)     9788 non-null   float64
 5   Gear            9788 non-null   int64
 6   Fuel Type       9788 non-null   int64
 7   Millage(KM)     9788 non-null   float64
 8   Town            9788 non-null   int32
 9   Date            9788 non-null   object
 10  Leasing         9788 non-null   int64
 11  Condition       9788 non-null   int64
 12  AIR CONDITION   9788 non-null   int64
 13  POWER STEERING  9788 non-null   int64
 14  POWER MIRROR    9788 non-null   int64
 15  POWER WINDOW    9788 non-null   int64
 16  Price           9788 non-null   float64
dtypes: float64(3), int32(3), int64(10), object(1)
memory usage: 1.1+ MB

In [86]:
print(cars_data['Date'].unique())

['2025-02-05' '2025-01-14' '2025-01-23' '2024-12-21' '2024-12-16'
 '2024-12-11' '2025-01-19' '2025-01-31' '2025-01-20' '2024-12-13'
 '2024-12-24' '2025-02-01' '2025-01-03' '2025-01-16' '2024-12-10'
 '2024-12-09' '2025-02-04' '2025-02-03' '2025-01-29' '2025-01-18'
 '2025-01-15' '2025-01-09' '2025-01-06' '2025-01-27' '2025-01-21'
 '2024-12-28' '2024-12-26' '2024-12-22' '2024-12-15' '2025-01-25'
 '2025-01-30' '2025-01-10' '2025-01-05' '2024-12-31' '2024-12-27'
 '2025-01-12' '2025-01-24' '2024-12-08' '2024-12-29' '2025-01-04'
 '2024-12-23' '2024-12-04' '2025-02-02' '2024-12-14' '2025-01-26'
 '2024-12-19' '2025-01-28' '2024-12-25' '2024-12-18' '2025-01-17'
 '2024-12-07' '2024-12-17' '2024-12-05' '2024-12-20' '2025-01-07'
 '2025-01-22' '2025-01-11' '2025-01-02' '2025-01-01' '2025-01-08'
 '2024-12-30' '2025-01-13' '2024-12-12' '2024-12-06' '2024-12-03']

In [87]:
cars_data = cars_data.drop('Date', axis=1)

In [88]:
print(cars_data['Date'].unique())

<class 'KeyError'>: 'Date'

In [89]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9788 non-null   int64
 1   Brand           9788 non-null   int32
 2   Model           9788 non-null   int32
 3   YOM             9788 non-null   int64
 4   Engine (cc)     9788 non-null   float64
 5   Gear            9788 non-null   int64
 6   Fuel Type       9788 non-null   int64
 7   Millage(KM)     9788 non-null   float64
 8   Town            9788 non-null   int32
 9   Leasing         9788 non-null   int64
 10  Condition       9788 non-null   int64
 11  AIR CONDITION   9788 non-null   int64
 12  POWER STEERING  9788 non-null   int64
 13  POWER MIRROR    9788 non-null   int64
 14  POWER WINDOW    9788 non-null   int64
 15  Price           9788 non-null   float64
dtypes: float64(3), int32(3), int64(10)
memory usage: 1.1 MB

In [90]:
cars_data

,Unnamed: 0,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,0,0,86,2016,990.0,1,1,99000.0,25,1,1,1,1,1,1,100.00
1,1,0,86,2017,1000.0,1,1,88000.0,15,1,1,1,1,1,1,97.00
2,2,0,86,2018,1000.0,1,1,77000.0,18,1,1,1,1,1,1,98.50
3,3,0,86,2017,1000.0,1,1,88000.0,80,1,1,1,1,1,1,107.00
4,4,0,86,2017,1000.0,1,1,88000.0,15,1,1,1,1,1,1,99.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9783,9784,49,1550,2018,1000.0,0,1,77000.0,16,1,1,1,1,1,1,27.50
9784,9785,49,1550,2019,998.0,0,1,66000.0,81,1,1,1,1,1,1,29.00
9785,9786,49,1550,2017,1000.0,0,1,88000.0,2,1,1,1,1,1,1,27.50
9786,9787,49,1554,2017,1300.0,0,1,88000.0,25,1,1,1,1,2,1,8.75
9787,9788,49,1554,1999,1900.0,1,1,286000.0,60,1,1,1,1,1,1,15.50

In [92]:
cars_data.drop(columns=['Unnamed: 0'], inplace=True)

In [93]:
cars_data

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,0,86,2016,990.0,1,1,99000.0,25,1,1,1,1,1,1,100.00
1,0,86,2017,1000.0,1,1,88000.0,15,1,1,1,1,1,1,97.00
2,0,86,2018,1000.0,1,1,77000.0,18,1,1,1,1,1,1,98.50
3,0,86,2017,1000.0,1,1,88000.0,80,1,1,1,1,1,1,107.00
4,0,86,2017,1000.0,1,1,88000.0,15,1,1,1,1,1,1,99.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9783,49,1550,2018,1000.0,0,1,77000.0,16,1,1,1,1,1,1,27.50
9784,49,1550,2019,998.0,0,1,66000.0,81,1,1,1,1,1,1,29.00
9785,49,1550,2017,1000.0,0,1,88000.0,2,1,1,1,1,1,1,27.50
9786,49,1554,2017,1300.0,0,1,88000.0,25,1,1,1,1,2,1,8.75
9787,49,1554,1999,1900.0,1,1,286000.0,60,1,1,1,1,1,1,15.50

In [94]:
input_data = cars_data.drop(columns=['Price'])
output_data = cars_data['Price']

In [109]:
X_train, X_test, Y_train,Y_test = train_test_split(input_data,output_data, test_size=0.2)

In [110]:
#model creation
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [111]:
predict = model.predict(X_test)

In [112]:
predict

array([55.61916239, 70.51960475, 67.30505463, ..., 28.6808163 ,
       10.22123621, 69.87297744])

In [113]:
X_train.shape

(7830, 14)

In [114]:
X_train.head(1)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW
2122,30,828,1987,1500.0,0,1,418000.0,46,1,1,1,2,2,2

In [125]:
input_data_model = pd.DataFrame(
    [[30, 828, 2022, 1500.0, 0, 1, 458000.0, 46, 1, 1, 1, 2, 2, 2]],
    columns = [
    'Brand', 'Model', 'YOM', 'Engine (cc)', 'Gear', 'Fuel Type',
    'Millage(KM)', 'Town', 'Leasing', 'Condition', 'AIR CONDITION',
    'POWER STEERING', 'POWER MIRROR', 'POWER WINDOW'
])

In [126]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           9788 non-null   int32
 1   Model           9788 non-null   int32
 2   YOM             9788 non-null   int64
 3   Engine (cc)     9788 non-null   float64
 4   Gear            9788 non-null   int64
 5   Fuel Type       9788 non-null   int64
 6   Millage(KM)     9788 non-null   float64
 7   Town            9788 non-null   int32
 8   Leasing         9788 non-null   int64
 9   Condition       9788 non-null   int64
 10  AIR CONDITION   9788 non-null   int64
 11  POWER STEERING  9788 non-null   int64
 12  POWER MIRROR    9788 non-null   int64
 13  POWER WINDOW    9788 non-null   int64
 14  Price           9788 non-null   float64
dtypes: float64(3), int32(3), int64(9)
memory usage: 1.0 MB

In [128]:
model.predict(input_data_model)

array([-2.0194862])

In [130]:
import pickle as pk

In [131]:
pk.dump(model,open('model.pkl','wb'))